@model MDN.Models.Entities.T001_PRODUTO

@{
    ViewData["Title"] = "Create";
}

@*<link href="~/css/fileUploadPlugin/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/css/fileUploadPlugin/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="~/css/fileUploadPlugin/blueimp-gallery.css" rel="stylesheet" />
    <link href="~/css/fileUploadPlugin/blueimp-gallery-video.css" rel="stylesheet" />
    <link href="~/css/fileUploadPlugin/blueimp-gallery-indicator.css" rel="stylesheet" />*@


@*<h4>Inserir anúncio</h4>*@
<h2 align="center">O que você está anunciando?</h2>
<hr />
<form id="fileupload" method="POST" enctype="multipart/form-data" asp-action="Create" asp-controller="Produto">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="T001_TITULO" class="control-label">TÍTULO</label>
                <input asp-for="T001_TITULO" class="form-control" />
                <span asp-validation-for="T001_TITULO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T001_DESCRICAO" class="control-label">DESCRIÇÃO</label>
                @*@Html.TextArea("DESCRIÇÃO", new { rows = 10, cols = 40 })*@
                <textarea asp-for="T001_DESCRICAO" class="form-control" rows="5" cols="33"></textarea>
                <span asp-validation-for="T001_DESCRICAO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T001_PRECO" class="control-label">PREÇO</label>
                <input asp-for="T001_PRECO" class="form-control" />
                <span asp-validation-for="T001_PRECO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T003_ID_UF" class="control-label">UF</label>
                <select asp-for="T003_ID_UF" class="form-control" asp-items="ViewBag.UFS"></select>
            </div>
            <div class="form-group">
                <label asp-for="T002_ID_CATEGORIA" class="control-label">CATEGORIA</label>
                <select asp-for="T002_ID_CATEGORIA" class="form-control" asp-items="ViewBag.CATEGORIAS"></select>
            </div>
   
        </div>
    </div>

    @*<div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-primary fileinput-button">
                    <i class="glyphicon glyphicon-camera"></i>
                    <span>Adicionar fotos</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button id="btnEnviar" type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                        <button type="button" class="btn btn-danger delete">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete</span>
                        </button>
                    <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>

        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        <button type="submit" class="btn btn-success start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Criar Anúncio</span>
        </button>*@

    <input id="fileupload2" type="file" name="files[]" multiple="multiple" accept="image/*">
    <div id="dvPreview2">
    </div>

    <br />
    <br />

    <button type="submit" class="btn btn-success start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Criar Anúncio</span>
    </button>
</form>


<style>



</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
     
        $(function () {
            $("#fileupload2").change(function () {
                if (typeof (FileReader) != "undefined") {
                    var dvPreview = $("#dvPreview2");
                    dvPreview.html("");
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    $($(this)[0].files).each(function () {
                        var file = $(this);
                        if (regex.test(file[0].name.toLowerCase())) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = $("<img />");
                                img.attr("style", "height:100px;width: 100px");
                                img.attr("src", e.target.result);
                                dvPreview.append(img);
                            }
                            reader.readAsDataURL(file[0]);
                        } else {
                            alert(file[0].name + " is not a valid image file.");
                            dvPreview.html("");
                            return false;
                        }
                    });
                } else {
                    alert("This browser does not support HTML5 FileReader.");
                }
            });
        });

    </script>
    @*<script>
            var $form = null;
            $(function () {

                $form = $('#fileupload').fileupload({
                    dataType: 'json'
                });

            });
            $('#fileupload').addClass('fileupload-processing');
        </script>

        <script src="~/js/fileUploadPlugin/modernizr-2.6.2.js"></script>
        <script src="~/js/fileUploadPlugin/respond.min.js"></script>
        <script src="~/js/fileUploadPlugin/jquery-ui-1.11.4.min.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.ui.widget.js"></script>
        <script src="~/js/fileUploadPlugin/tmpl.min.js"></script>
        <script src="~/js/fileUploadPlugin/load-image.all.min.js"></script>
        <script src="~/js/fileUploadPlugin/canvas-to-blob.min.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.iframe-transport.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.fileupload.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.fileupload-process.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.fileupload-image.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.validate.min.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.fileupload-audio.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.fileupload-video.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.fileupload-validate.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.fileupload-ui.js"></script>
        <script src="~/js/fileUploadPlugin/blueimp-gallery.min.js"></script>
        <script src="~/js/fileUploadPlugin/blueimp-gallery-video.min.js"></script>
        <script src="~/js/fileUploadPlugin/blueimp-gallery-indicator.min.js"></script>
        <script src="~/js/fileUploadPlugin/jquery.blueimp-gallery.min.js"></script>*@

}
