@model List<MDN.ViewModels.AnuncioGridVM>


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container-fluid" style="background-color:rebeccapurple">
    <div class="row">
        <div class="col-md-1">
            Imoveis
        </div>
        <div class="col-md-1">
            Carros
        </div>
        <div class="col-md-1">
            Eletronicos
        </div>
        <div class="col-md-1">
            Casa
        </div>
        <div class="col-md-1">
            Esportes
        </div>
        <div class="col-md-1">
            Moda
        </div>

    </div>
    <br>
    <br>
    <br>

</div>
            @Html.Partial("_ItemGrid")
