@model MDN.Models.Entities.T001_PRODUTO

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>T001_PRODUTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="T001_TITULO" class="control-label"></label>
                <input asp-for="T001_TITULO" class="form-control" />
                <span asp-validation-for="T001_TITULO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T001_DESCRICAO" class="control-label"></label>
                <input asp-for="T001_DESCRICAO" class="form-control" />
                <span asp-validation-for="T001_DESCRICAO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T001_PRECO" class="control-label"></label>
                <input asp-for="T001_PRECO" class="form-control" />
                <span asp-validation-for="T001_PRECO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T001_FOTO" class="control-label"></label>
                <input asp-for="T001_FOTO" class="form-control" />
                <span asp-validation-for="T001_FOTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
